{%  extends 'base.html'%}
{% load static %}
{%block title%}Contact Us {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/logreg.css' %}" />
<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQnMH1O2S6jcN4cXKKuBVmuYKqnXz968c4-A&usqp=CAU"> </div>
                        <h3 class="mb-5 text-center heading">Ebrar's Clinic </h3>
                       
                       
                        
                       
                       
                        <h6 class="msg-info">Please register to have an account</h6>
                        <!--<div class="form-group"> <label class="form-control-label text-muted">Username</label> <input type="text" id="email" name="email" placeholder="Phone no or email id" class="form-control"> </div>
                        <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input type="password" id="psw" name="psw" placeholder="Password" class="form-control"> </div>
                        -->
                        <form method="POST" action="{% url 'register' %}">
                        {{ form.as_p }}
                        {% csrf_token %}

                        {%if form.errors%}
                             <div class="alert alert-warning alert-dismissable" role="alert"> 
                             <button class="close" data-dismiss="alert">
                                    <small><sup>x</sup></small>
                             </button>
                                <p> Your form has errors</p>
                                {% for field in form %}
                                    {%if field.errors %}
                                        {{field.errors}}
                                    {% endif %}
                                {% endfor %}
                             </div>    

                            
                        {%endif%}    
                        <div class="row justify-content-center my-3 px-3"> <button type="submit" class="btn btn-success btn-color">Register</button> </div>
                       
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="#" class="sm-text mx-auto mb-3">Do you have an account?<button class="btn btn-white ml-2"><a href="{%url 'login_user'%} ">Click to Login</a></button></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">We are more than just a company</h3> <small class="text-white">Just Register And Start Chat With Our Doctors...</small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 